.amazing-menu
    each val in [1, 2, 3, 4, 5]
        .menu-item
            .container
                .icon
                    span.ion-icecream
                .title icecream 
                .arrow
                    span.ion-chevron-right
                .rating.-r2
                    .stars
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                    .text 56 Votes
        .menu-item
            .container
                .icon
                    span.ion-pizza
                .title pizza
                .arrow
                    span.ion-chevron-right
                .rating.-r5
                    .stars
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                    .text 786 Votes
        .menu-item
            .container
                .icon
                    span.ion-beer
                .title beer
                .arrow
                    span.ion-chevron-right
                .rating.-r4
                    .stars
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                    .text 71 Votes
        .menu-item
            .container
                .icon
                    span.ion-ios-wineglass
                .title wine
                .arrow
                    span.ion-chevron-right
                .rating.-r4
                    .stars
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                    .text 26 Votes
        .menu-item
            .container
                .icon
                    span.ion-coffee
                .title coffee
                .arrow
                    span.ion-chevron-right
                .rating.-r2
                    .stars
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                        span.ion-star
                    .text 125 Votes
